# Changelog

Changelog of {{repoName}}. For documentation refer to the guides:
* All [releases and artifacts](https://gitlab.com/{{ownerName}}/{{repoName}}/-/releases)

Authored by [{{ownerName}}](https://gitlab.com/{{ownerName}})

{{#tags}}
    ## {{name}} {{#hasTagTime}} {{tagTime}} {{/hasTagTime}}
    See [the changelog](https://gitlab.com/{{ownerName}}/{{repoName}}/blob/{{name}}/CHANGELOG.md) :rocket:

    {{#issues}}
        {{#hasIssue}}
            {{#hasLink}}
                * [{{issue}}](https://gitlab.com/{{ownerName}}/{{repoName}}/issues/{{issue}}) {{title}} {{#hasIssueType}} *{{issueType}}* {{/hasIssueType}} {{#hasLabels}} {{#labels}} *{{.}}* {{/labels}} {{/hasLabels}}
            {{/hasLink}}
            {{^hasLink}}
                * {{issue}} {{title}} {{#hasIssueType}} *{{issueType}}* {{/hasIssueType}} {{#hasLabels}} {{#labels}} *{{.}}* {{/labels}} {{/hasLabels}}
            {{/hasLink}}
        {{/hasIssue}}
    {{/issues}}
{{/tags}}
